{% extends 'base_externa.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock%}

{% block content %}

    <h1 class="text-center">Login</h1>

    {% if form.errors %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Falha no Login!</strong> Email ou senha inválidos.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}

    <form method="post">{% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-12 mb-4">
                <label for="{{ field.name }}">{{field.label}}</label>
                {{ field | add_class:"form-control"}}
            </div>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-outline-success btn-login" value="Entrar" />
    </form>

    <p class="mt-5 text-center"><a href="{% url 'accounts:password_reset' %}" >Esqueci minha senha</a></p>

    <p class="mt-1 text-center"><a href="{% url 'accounts:usuario_create' %}" >Não possui conta?</a></p>

{% endblock %}