{% extends 'base_externa.html' %}
{% load widget_tweaks %}

{% block title %}Resetar Senha{% endblock%}

{% block content %}

    <h2 class="text-center">Recuperação de Senha</h2>

    <div class="alert alert-info alert-dismissible fade show my-5" role="alert">
        Informe seu e-mail para receber o link de recuperação de senha!
    </div>



    <form method="post">{% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-12 mb-4">
                <label for="{{ field.name }}">{{field.label}}</label>
                {{ field | add_class:"form-control"}}
            </div>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-outline-success btn-login py-3" value="Recuperar Senha" />
    </form>


{% endblock %}